<div class="container mt-20 mx-auto bg-gray-100 p-4">
  <div class="text-center">
    <h1 class="inline-block px-4 py-2 bg-gray-200 text-2xl mb-8">
      Ember Table Demo
    </h1>
  </div>
  <div class="w-9/12 mx-auto">
    <div class="stock-table bg-gray-200 mx-auto p-2">
      {{#ember-table as |t|}}
        {{t.head
          columns=columns
          widthConstraint="eq-container"
          sorts=sorts
          onUpdateSorts=(action (mut sorts))
          compareFunction=compareFunction
        }}
        {{t.body rows=rows}}
      {{/ember-table}}
    </div>
    <div class="bg-gray-200 mx-auto mt-4 p-4">
      <h2 class="text-l border-b-2 border-gray-500 mb-8">
        Actions
      </h2>
      <div class="mb-4">
        Add
        {{input
          class="w-12 mx-1 text-center px-1"
          type="number"
          value=numRows
          enter=(action "addRows")
        }}
        rows.
      </div>
    </div>
  </div>
</div>